@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --border-color:#d6e9f8;
  --button-background: #4c8da0;
  --tick-hover: #77e25c;
  --tick-color: #52b738;
  --main-background: #292c35;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */
body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", cursive;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  background: var(--main-background);
  color: var(--main-white);
}

body.dark {
  background: var(--main-background);
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

/*Header*/
#contact-header {
  display: flex;
  width: fit-content;
  margin: auto;
}

#character {
  width: 40%;
  margin-bottom: 10%;
}

.help-table {
  border-style: solid;
  margin: auto;
  padding: 10px;
  border-radius: 10%;
  border-color: var(--border-color);
}

.help-list {
  margin-left: 10px;
  list-style: inside;
  list-style-type: circle;
}

.tick-part {
  padding: 0px 0 20px;
}

.tick-part ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tick-part ul li {
  position: relative;
  width: 300px;
}

.tick-part ul li a {
  display: block;
  font-size: 18px;
  padding: 7px 25px 7px 48px;
  transition: all 0.5s;
  text-decoration: none;
}

.tick-part ul li:hover {
  background: var(--button-background);
  color: var(--main-white);
  transition: all 0.5s;
}

.tick-part ul li::before {
  position: absolute;
  width: 11px;
  height: 5px;
  left: 25px;
  top: 12px;
  content: "";
  border-left: 2px solid var(--tick-color);
  border-bottom: 2px solid var(--tick-color);
  transform: rotate(-45deg);
}

.tick-part ul li:hover::before {
  border-left: 2px solid var(--tick-hover);
  border-bottom: 2px solid var(--tick-hover);
}
/*Form*/

#contact-form {
  margin: auto;
  display: grid;
  width: 30%;
}

.contact {
  display: flex;
  padding: 5px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}

#mail-button {
  border-radius: 10px;
  font-family: cursive;
  font-size: medium;
  background-color: var(--button-background);
  border-color:  var(--border-color);
  color: aliceblue;
}

#or-text {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-item {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  height: 30px;
}

#item-form {
  padding: 0;
}

#skills {
  height: 30px;
  border-radius: 10px;
  margin: 5px 0;
  padding: 0 5px;
}

#message {
  padding: 10px;
  height: 150px;
  margin: 5px 0;
  border-radius: 10px;
}
