/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

/*Header*/
.photo {
  width: 15%;
  border-radius: 200px;
  margin: auto;
}

header {
  margin: auto;
  width: 80%;
}

#summary {
  margin-left: 5%;
  margin-right: 5%;
}

/*Tag cloud*/
ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.75rem;
  width: 450px;
}

ul.cloud a {
  --size: 4;
  --color: #a33;
  color: var(--color);
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  display: block;
  padding: 0.125rem 0.25rem;
  position: relative;
  text-decoration: none;
}

ul.cloud a[data-weight="1"] {
  --size: 1;
}
ul.cloud a[data-weight="2"] {
  --size: 2;
}
ul.cloud a[data-weight="3"] {
  --size: 3;
}
ul.cloud a[data-weight="4"] {
  --size: 4;
}
ul.cloud a[data-weight="5"] {
  --size: 6;
}
ul.cloud a[data-weight="6"] {
  --size: 8;
}
ul.cloud a[data-weight="7"] {
  --size: 10;
}
ul.cloud a[data-weight="8"] {
  --size: 13;
}
ul.cloud a[data-weight="9"] {
  --size: 16;
}

ul[data-show-value] a::after {
  content: " (" attr(data-weight) ")";
  font-size: 1rem;
}

ul.cloud li:nth-child(2n + 1) a {
  --color: #181;
}
ul.cloud li:nth-child(3n + 1) a {
  --color: #33a;
}
ul.cloud li:nth-child(4n + 1) a {
  --color: #c38;
}

ul.cloud a:focus {
  outline: 1px dashed;
}

ul.cloud a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: var(--color);
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
  width: 100%;
}

@media (prefers-reduced-motion) {
  ul.cloud * {
    transition: none !important;
  }
}

#tag-cloud {
  height: 100%;
  width: 100%;
  margin: auto;
}

#summary-graph {
  display: flex;
}

main {
  margin: auto;
}

/*Blog*/
.blog-year {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e8e8e8;
  color: #00ab72;
  font-size: 2.15rem;
  font-weight: 700;
  font-style: normal;
}

.post-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  padding: 0.5rem 0;
  width: 100%;
  font-family: "Lato", -apple-system, Helvetica, Arial, sans-serif;
  font-size: 1.95rem;
  color: rgb(210, 226, 212);
  text-decoration: none;
  transition: color 0.25s, padding-left 0.25s;
  margin-bottom: 3rem;
}

.post-section:hover {
  color: #b65923;
  padding-left: 1rem;
}

.post-title {
  font-weight: 500;
}

.post-date {
  color: rgb(218, 209, 209);
  font-size: 1.8rem;
}

#blog-posts {
  padding-top: 5%;
  padding-bottom: 5%;
}

@media screen and (max-width: 900px) {
  #summary-graph {
    display: block;
  }
}
