@use '../base/base' as *;

.not-found-container {
  @include flex-center;
  background-color: var(--bg-white);
  padding: 5%;
  gap: 10%;
  flex-grow: 1;

  .not-found-txt {
    text-align: left;

    .not-found-btn {
      padding: $spacing-lg;
      background: $not-found-btn;
      box-shadow: 2px 2px 5px var(--shadow);
    }
  }

  .not-found-img {
    width: 50%;
  }
}
