.not-found-container {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding: 5%;
  gap: 10%;
  flex-grow: 1;

  .not-found-txt {
    text-align: left;

    .not-found-btn {
      padding: 20px;
      background: #ffc803;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
  }

  .not-found-img {
    width: 50%;
  }
}
